---
breadcrumbs:
  - href: "/fr/"
    text: "Aperçu du développement GCDS"
contentHeader: "Exemple de composant"
dateModified: 2025-11-01
lang: fr
layout: layouts/base.njk
permalink: /fr/exemple-composant.html
title: Exemple de composant
---

<gcds-text>Ceci est un modèle d'exemple qui démontre comment utiliser les composants du système de design GC.</gcds-text>

<gcds-button>Bouton principal</gcds-button>
<gcds-button button-role="secondary">Bouton secondaire</gcds-button>

<gcds-notice type="info" notice-title-tag="h3" notice-title="Alerte d'information">
  <gcds-text>Ceci est un exemple de la façon dont les composants sont intégrés dans le flux de travail de développement.</gcds-text>
</gcds-notice>
