---
layout: layouts/splash.njk
lang: en
permalink: "/index.html"
contentHeader: "GC Design System Example Templates"
backgroundImages:
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-1.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-2.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-3.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-4.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-5.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-6.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-7.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-8.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-9.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-10.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-11.jpg"
    alt: ""
  - src: "https://www.canada.ca/content/dam/canada/splash/sp-bg-12.jpg"
    alt: ""
---

<gcds-container style="margin-top: var(--gcds-spacing-600);">
  <gcds-sr-only>
    <gcds-heading tag="h2">English / Français</gcds-heading>
  </gcds-sr-only>
  <gcds-grid columns="1" columns-tablet="12" columns-desktop="12" gap="0" style="align-items: center; width: 100%;">
    <div style="grid-column: 1 / span 5; justify-self: center;">
      <gcds-link href="en/index.html">English</gcds-link>
    </div>
    <div style="grid-column: 6 / span 5; justify-self: center;">
      <gcds-link href="fr/index.html" hreflang="fr">Français</gcds-link>
    </div>
  </gcds-grid>
</gcds-container>
