---
breadcrumbs:
  - href: "/en/"
    text: "GCDS Development Preview"
contentHeader: "Sample Component Example"
dateModified: 2025-11-01
permalink: /en/sample-component.html
layout: layouts/base.njk
lang: en
title: Sample Component Example
---
<gcds-text>This is a sample template that demonstrates how to use GC Design System components.</gcds-text>

<gcds-button>Primary Button</gcds-button>
<gcds-button button-role="secondary">Secondary Button</gcds-button>

<gcds-notice type="info" notice-title-tag="h3" notice-title="Information Alert">
  <gcds-text>This is an example of how components are integrated into the development workflow.</gcds-text>
</gcds-notice>
